@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:800');


*{
    margin: 0 0 0 0;
    font-family: 'Chakra Petch','Josefin Sans','Raleway', sans-serif;
}
a{
    all:unset;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 65px;
}
.navbar{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
.list{
    height: -webkit-fill-available;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex; 
    flex-direction: row;
    flex:2;
    justify-content: center;
}
.list.uResponsive{
    background: black;
    color: white;
	margin-bottom: 1px;
    transform: translateY(0) !important;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    /* background-color: #000; */
    border-top: 1px solid #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    align-items: center;
}
.item{
    background:none;
    max-width: 105px;
    border-top:-1px solid transparent ;
    transition: height .1s;
    padding: 20px;
    width: 145px;
}
.sideMenu{
    all: unset;
    margin: 15px;
    display: none;
    right: 12px;
    top: 12px;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar ul {display: none;}

    .navbar a.sideMenu {
        display: -webkit-box;
    }
    .navbar{
        justify-content: space-between;
    }
  }

  .navbar.responsive a.logo {
    position: absolute;
  }
  .navbar.responsive ul {
    float: none;
    display: flex;
    text-align: left;
  }
.item:hover{
    background: linear-gradient(#000000, #000000);
    background-size: auto 9px;
    background-repeat: no-repeat;
    overflow: auto;
}
.logo{
    text-decoration: none;
    color: green;
    height: fit-content;
}
.container{
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: white;
    height:inherit;
    background-image: url("./Resources/backGroungPg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.borderDiv{
    height: 250px;
    width: 250px;
    position: absolute;
    border:1px solid white;
    transform: rotate(45deg);
}
.borderDiv:hover{
    transition: all .3s ease-in-out;
    border-right:6px solid white;
    border-bottom:6px solid white;

}
.textWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
}
.helloText{
    text-transform: uppercase;
    width:100%;
    flex-direction: column;
    flex:2;
}
.iAmText{
    font-size: 12px;
}
.parthText{
    flex:1;
    font-weight: bold;
}
.positionText{
    flex:1;
    line-height: 18px;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper-page-2{
    flex-direction: column;
    margin: 10px;
    height: 100%;
}
.head-page-2{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    flex:1;
}
.mainHeaderText-page-2{
    height: fit-content;
    margin: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .mainHeaderText-page-2 , .mainHeaderText-page-3{
    font-size: 38px !important;
    margin: 30px;
    }
}
.item-page-2{
    flex:1;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item-header-page2{
    font-size: 40px;
}
.item-content-page2{
    max-width: 400px;
    text-align: center;
}


.blackBackground{
    background: #000000;
    color: #fff;
}
svg{
    height: fit-content;
    width:fit-content;
}
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

/* for canvas */


.progress-ring {
  height: 180px;
  width:180px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* end canvas */

.head-page-3{
    display: flex;
    flex-direction: column;
}
.mainHeaderText-page-3{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 62px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.subText-page-3-Wrapper{
    margin: 30px 0 60px 0 ;
}
.subText-page-3{
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Chakra Petch','Josefin Sans','Raleway', sans-serif;
    max-width: 300px;
    text-align: center;
}
.svgContainer{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.percentageSVG{
    font-family: 'Chakra Petch','Josefin Sans','Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 69px;
    position: absolute;
    z-index: 122;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.sliderWrapper{
    min-height: 100px;
}
@media only screen and (max-width: 600px) {
    .sliderWrapper{
    min-height: 180px;
    }
}

.leftArrow{
   flex:1;
   display: flex;
   justify-content: flex-end;
   font-size: 40px;
}
.rightArrow{
   flex:1;    
   font-size: 40px;
}
.sliderContent{
    flex:2;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
li{
    list-style-type: none;
    line-height: 16px;
}
.sliderHeader{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: auto 20px auto 20px;
    max-width: 300px;
}
@media only screen and (max-width: 1050px) {
    .sliderContent {
        flex:4;
    }
}
@media only screen and (max-width: 800px) {
    .sliderContent {
        flex:4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sliderHeader{
        margin-bottom: 20px;
    }
    
}
